/* LovelyFactory.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3f353e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .h1 {
    color: #333;
  }
  
  .lovelyData {
    margin-top: 20px;
    color: rgb(226, 43, 156);
  }
  
  .position {
    border: 1px solid #dddddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .position:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .position div {
    margin-bottom: 8px;
  }